.big-font
	font-size: 24px

#doc-info
	margin-top: 10px

#doc-details
	border-left: 1px solid black
	border-bottom: 1px solid black

#doc-moredetails
	border-bottom: 1px solid black
	
#main-edit-area
	margin-top: 10px

#commentInputDialog
	padding: 8px

.comment-highlight
	background-color: yellow
	
.sidebar-button
	width: 100%
	margin: 5px	

.doc-actions
	width: 100%
	margin: 5px
	
.sidebar-button-half
	width: 50%

.invisible-text
	color: rgb(238, 238, 238)
	
.inset
	margin-left: 4px
	
.state-radio
	width: 50%

outline = #A6A197
sidebar = #F2E8DF

.chapter-info
	padding: 5px
	margin: 3px

.chapter-selected 
	margin-right: -15px
	
.chapter-finished
	border-left: 8px solid green

.chapter-ongoing
	border-left: 8px solid red

chaptercolor = #ddd
#chapter-list li
	background: chaptercolor

#chapter-list li:hover
	background: darken(chaptercolor, 10%)
	
#comments-list li
	background: #eee

#comments-list li:hover
	background: darken(#eee, 10%)

.comment
	border-bottom: 1px dotted #6A959D

.comment-info
	padding: 5px
	margin: 3px

.comment-selected 
	margin-left: -15px

.detailactionbutton
	margin: 2px
	width: 100%