#newOpinionDialog
	padding: 8px
	
.opinion-type
	border: 1px solid #ddd
	border-radius: 3px
	padding: 5px
	margin: 1px

.type-button
	width: 100%
	
.type-name
	text-align: center
	
.margin-button
	margin-top: 2px