.lang-flag
	margin-bottom: 3px
	margin-right: 3px
	
#mainnav
	-webkit-animation-duration: 1s
	-webkit-animation-delay: 1s

input[type="checkbox"]
	margin: 0 5px 0 0
	box-shadow: none
	
#fullscreen
	margin-right: 10px
 
.navbar-brand-small
	float: left
	padding: 15px 5px
	font-size: 12px
	line-height: 14px
	height: 40px
	color: #898809
	